.site-header{
  background-color: #fff;
}
.sitenav-link{
   font-weight: 500;
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 1px;
   text-transform: uppercase;
text-decoration: none;
color: #000;
}
div{
  background-color: black;
  color:#fff
}
.main-link{
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
}
.hero-content{
  width: 390px;
}
.hero-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-img{
  width: 510px;
  height: 510px;
}
