/* general */
*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  color: #252420;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #fff;
  letter-spacing: 0.5px;
}

*:focus{
outline: 2px solid #ff7500;
  outline: offset 3px; ;
}
/* CONTAINER */
.container{
width: 100%;
max-width: 1140px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}

.site-header-container{
 display: flex;
 justify-content: space-between;
align-items: center;
}



/* header */
.site-header{
  background-color: #fff;
  border-top: 5px solid #ff7500;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{
opacity: 0.8;
}
.header-link:active{
opacity: 0.6;
}
.site-header-actions{
display: flex;
align-items: center;
}


/* SITENAV */
.sitenav-list{
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

.sitenav-item{
  margin-right: 32px;
}

.sitenav-item:last child{
margin-right: 0;
}
.sitenav-link{
font-weight: 500;
font-size: 13px;
line-height: 15px;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
color: #252420;
transition: 0.4s ease, opacity 0.3s ease;
}

.sitenav-link:hover{
  color: #ff7500;
  opacity: 0.3 ;
}


.sitenav-link:active{
color: #ff7500;
opacity: 0.6 ;
}
.sitenav-link:focus{
  opacity: 0.4s;
  color: #ff7500;
}

/* button */
.main-link{
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.4 ease;
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
}

.main-link:hover{
  opacity: 0.8;
}

.main-link:active{
  opacity: 0.6;
}


.hero-content{
  width: 390px;
}

.hero-heading{
  margin-top: 0;
font-size: 40px;
margin-bottom: 24px;
  line-height: 1.2;
  font-family:"Roboto Condensed", "Arial", sans-serif ;
}

.hero{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}
.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orange-line{
  width: 80px;
  height: 3px;
  margin: 0;
margin-bottom: 40px;
  background-color: #ff7500;
  border: none;
}

.hero-img {
  width: 510px;
height: 400px;
border-radius: 8px;
box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}

.hero-text{
margin-top: 0;
font-size: 16px;
line-height:1.5 ;
}
.features{
padding-top: 210px;
padding-bottom: 210px;
}

.features-list{
  display: flex;
  margin: 0;
  align-items: center;
  list-style: none;
  padding: 0;
}
.features-heading{
  text-decoration: none;
  width: 440px;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 72px;
  line-height: 1.2;
}

.feature{
  width: 340px;
  margin-right: 40px;
}

.feature:last-child{
  margin-right: 40px;
}

.feature-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color:  rgba(255, 117,0, 0.2 );
}

.feature-info{
  margin: 0;
}

.features-heading{
margin-top: 0;
margin-bottom: 12px;
width: 440px;
font-size: 72px;
line-height: 1.2;
font-family:"Roboto Condensed", "Arial", sans-serif;
}

 /* promo */
.promo{
padding-top: 210px;
padding-bottom: 210px;
}

.promo-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  border-radius: 12px;
  background-color: #252420;
  color: #fff;
}

 .promo-content{
width: 440px;
 }

 .promo-heading{
font-size: 40px;
margin-top: 0;
margin-bottom: 24px;
line-height: 48px;
font-family:"Robota Condensed", "Arial", sans-serif;
 }
 .promo-info-wrapper{
  margin-bottom: 24px;
 }

.promo-highlight{
color: #ff7500;
}
.promo-text{
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text:last-child{
  margin-bottom: 0;
}

.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12%;
}

.site-footer{
background-color: #f8f8f8 ;
list-style-type: none;
padding-top: 56px;
padding-bottom: 56px;
}

.site-footer ul{
  list-style: none;
  padding: 0;
}
.site-footer-top{
display: flex;
align-items: center;
justify-content: space-between;
}
.site-footer-divider{
height: 2px;
background: rgba(37, 36,32, 0.5 );
border: 0;
margin-top: 40px;
margin-bottom: 64px;
}
.site-footer-bottom{
  display: flex;
}


.site-footer-social{
display: flex;
align-items: center;
justify-content: space-between;
list-style: none;
padding: 0;
margin: 0;
}

.site-footer-social li{
 margin-right: 16px;
 display: flex;
 justify-content: center;;
  align-items: center;
}

.site-footer-social li:last-child{
  margin-right: 0;
}
.site-footer-socials a:hover{
  color: #ff7500;
  opacity: 0.6;
}
.site-footer-social a:active{
  opacity: 0.6;
}
.site-footer-list{
  list-style: none;
  width: 224px;
  line-height: 19px;
}
.site-footer-list li{
  margin-bottom: 16px;
}

.site-footer-list li:last-child{
  margin-bottom: 0;
}

.site-footer-links{
  width: 224px;
  padding: 0;
   margin: 0;
  margin-right: 68px;
  color: #252420;
  text-decoration: none;
  list-style: none;
  transition: opacity 0.8s ease;
  line-height: 19px;
}



.site-footer-links:last-child{
  margin-right: 0;
}

.site-footer-links:hover{
color: #ff7500;
opacity: 0.6s;
}
.site-footer-links:active{
opacity: 0.6;
}

.site-footer-link:focus{
  opacity: 0.6;
}

.index-box{
  text-decoration: none;
  font-size: 22px;
  line-height: 1.2;
}
